<!DOCTYPE html>
<html lang="en">
{% extends "kis_invite_base.html" %}
{% load static %}
<body>
{% block header %}
    <div class="kis-institute-invite-bg-container">
        <div class="kis-institute-invite-top-container">
            <h1>Inviting Sponsor</h1>
            <h3>Unlock Your Creative Potential</h3>
            <p>Be a Proud Sponsor of “Keep It Short” The Online Movie Talent Contest</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-5">
                    <div class="kis-institute-invite-container">
                        <div class="kis-institute-invite-logo-div">
                            <img src="{% static 'keepitshortcss/keep_it_short_images/kis_logo.png' %}" style="width:100%;height:100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="kis-institute-invite-text-container">
                        <h1>About Cinystore</h1>
                        <p>
                            Cinystore is not just a platform; it's a movement to democratize the film industry.
                            We believe in the power of storytelling and want to provide a level playing field for
                            emerging filmmakers. Our platform is designed to showcase diverse cinematic voices
                            and offer equal opportunities to all, regardless of financial backing.
                        </p>
                        <p>
                            We believe in the power of storytelling and want to provide a level playing field for emerging filmmakers to
                            showcase their content to the world.
                        </p>
                        <h1>Keep It Short</h1>
                        <p>
                            As par of our commitment to nurtuting talent, we are organizing an Online Movie Talent Contest-Keep
                            it Short to discover and celebrate the next generation of storytellers, a competitive reality show for
                            up-coming filmmakers to showcase their filmmaking talents through their short films 3-4 minutes, and compete with
                            other aspiring filmmakers to win prize money, and where <span style="color:red;">"THE AUDIENCE"</span> will be the judges.
                        </p>
                        <p>
                            This contest is a unique oppoertunity for the students of Film and Animation Institures to showcase
                            their creativity, hone their filmmaking skills, and gain recognition on a larger and dedicated platform.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="kis-institute-invite-info-main-container">
            <div class="container-fluid mt-5 mb-5">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="kis-institute-invite-info-questions-div">
                            <p id="question1" class="questions-active">Introduction</p>
                            <p id="question2">Why Sponsor Keep It Short?</p>
                            <p id="question3">Why Choose Exclusive Title Sponsorship with Keep It Short?</p>
                            <p id="question4">Exclusive Title Sponsor Benefits:</p>
                            <p id="question5">How to Secure Exclusive Title Sponsorship?</p>
                            <p id="question6"></p>
                            <p id="question7"></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="kis-institute-invite-info-answers-div">
                            <div id="answere1">
                                <p>Welcome to Keep It Short The Movie Talent Contest, a groundbreaking platform dedicated to discovering and celebrating emerging talent in the world of filmmaking</p>
                                <p>As we embark on this exciting journey, we invite esteemed Brands to join us as sponsors and play a pivotal role in shaping the future of the film industry.</p>
                                <p>Position your brand at the forefront of the digital entertainment revolution by becoming the exclusive Title Sponsor of Keep It Short an Online Movie Talent Contest.</p>
                                <p>This unique opportunity allows you to be the driving force behind an innovative event dedicated to discovering and celebrating emerging talent in the world of online filmmaking</p>
                            </div>
                            <div id="answere2" style="display:none">
                                <p><span style="font-weight:600;">Exposure and Visibility:</span> Align your brand with innovation and creativity in the film industry. Benefit from extensive exposure through our multi-channel promotional campaigns, reaching a diverse audience locally and globally.</p>
                                <p><span style="font-weight:600;">Community Engagement:</span> Showcase your commitment to supporting arts and culture. Connect with our passionate community of filmmakers, enthusiasts, and influencers, fostering lasting relationships and brand loyalty.</p>
                                <p><span style="font-weight:600;">Unique Brand Integration:</span> Enjoy exclusive branding opportunities at the event venue, on promotional materials, and across various digital platforms. Customized sponsorship packages ensure your brand message stands out.</p>
                            </div>
                            <div id="answere3" style="display:none">
                                <p><span style="font-weight:600;">Prime Digital Exposure:</span> As the Title Sponsor, your brand will enjoy exclusive naming rights prominently featured in all online platforms, promotional materials, and digital media coverage.</p>
                                <p><span style="font-weight:600;">Global Visibility:</span> Take your brand to a global audience with exclusive online visibility before, during, and after the event. Your logo will be showcased on our website, social media channels, and digital marketing campaigns</p>
                                <p><span style="font-weight:600;">VIP Digital Access:</span> Be part of the digital experience with VIP access to all online event activities, including exclusive opportunities to connect with industry professionals, filmmakers, and digital influencers.</p>
                                <p><span style="font-weight:600;">Digital Brand Integration:</span> Your brand will be seamlessly integrated into the digital fabric of the event, creating a lasting impression on our diverse online audience of filmmakers, enthusiasts, and digital influencers.</p>
                            </div>
                            <div id="answere4" style="display:none">
                                <p><span style="font-weight:600;">Exclusive Naming Rights:</span> Keep It Short Online Movie Talent Contest presented by “Your Brand Name”</p>
                                <p><span style="font-weight:600;">Digital Logo Placement:</span> Prominent display on the event Contest website, online promotional collateral, and social media platforms</p>
                                <p><span style="font-weight:600;">Exclusive Digital Press Coverage:</span> Featured in press releases, online interviews, and event-related articles</p>
                                <p><span style="font-weight:600;">Award Presentation:</span> Virtual opportunity to present a key award during the prestigious online awards ceremony</p>
                                <p><span style="font-weight:600;">Digital Merchandise:</span> Your brand prominently featured on select online event merchandise as agreed.</p>
                                <p><span style="font-weight:600;">User-Engaged Judging Panel:</span> Prominent recognition as the key sponsor involved in the unique user-judging experience</p>
                                <p><span style="font-weight:600;">Social Media Spotlight:</span> Dedicated posts across our social media platforms with a reach of Keep It Short</p>
                            </div>
                            <div id="answere5" style="display:none">
                                <p>To seize this unparalleled digital opportunity and align your brand with innovation and creativity, contact our Sponsorship Team at [Your Contact Email/Phone]. We're ready to tailor this sponsorship package to meet your digital marketing objectives and showcase your brand in the online spotlight.</p>
                                <p>Make Digital History with “Your Brand Name”- The Exclusive Title Sponsor of Keep It Short The Online Movie Talent Contest!</p>
                                <p>[Event Date] | [Online Platforms] | [Website Link]</p>
                                <p>By sponsoring Keep It Short Movie Talent Contest, your brand becomes an integral part of a transformative experience that supports and nurtures the next generation of cinematic visionaries. </p>
                                <p>Join us in creating a lasting impact on the world of entertainment.</p>
                            </div>
                            <div id="answere6"></div>
                            <div id="answere7"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="container-fluid pl-md-5">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="kis-institute-invite-mobile-view-img-div">
                        <img src="{% static 'keepitshortcss/keep_it_short_images/kis-invite-img.png' %}" style="height:100%;width:100%;" >
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="kis-institute-invite-mobile-view-img-div">
                        <img src="{% static 'keepitshortcss/keep_it_short_images/kis-invite-img.png' %}" style="height:100%;width:100%;" >
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="kis-institute-invite-mobile-view-img-div">
                        <img src="{% static 'keepitshortcss/keep_it_short_images/kis-invite-img.png' %}" style="height:100%;width:100%;" >
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="kis-institute-invite-mobile-view-img-div">
                        <img src="{% static 'keepitshortcss/keep_it_short_images/kis-invite-img.png' %}" style="height:100%;width:100%;" >
                    </div>
                </div>
            </div>
        </div>-->
    </div>
{% endblock %}
</body>
</html>